@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  max-width: 1366px;
  overflow-x: hidden;
  background-color: #4a8985;
  color: #bbb;

}
.text-col{
  background: linear-gradient(to bottom,#7a4949, #2e3478);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme{
  transition: 1s all ease;
}
.light{
  background-color: white;
  color: #000000;
}
.dark{
  background-color: #12273e;;
  color: #ffffff;
}
/* .container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.image{
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from{
    transform: translateY(-15px);
  }
  to{
    transform: translateY(0px) scale(1.03);
  }
}